@CHARSET "UTF-8";
/* query*/
#qlist {float:left;margin-left:0px;}
#qlist .head li{float:left;width:140px;text-align:center;background:#999999;border:1px solid black;}
#qlist .lcontent li{float:left;width:140px;text-align:center;border:1px solid black;}
#qlist div ul{padding:0;margin:0;}
#qlist ul .op{float:left;width:200px;text-align:center;border:1px solid black;}
#qlist .head .num,#qlist .lcontent .num {width:60px;}

#category {width:120px;height:100px;border:1px solid #880000;float:left;margin:5px;overflow-y:scroll;}
#brand {width:120px;height:100px;border:1px solid #880000;float:left;margin:5px;overflow-y:scroll;}

#allbrand {width:900px;height:100px;border:1px solid #880000;float:left;margin:5px;}