@CHARSET "UTF-8";
.info ul {clear:both;}
.info ul li{float:left;}
.info ul .note {width: 150px;text-align:right;margin-right:20px;}

/* query*/
#qlist {float:left;margin-left:50px;}
#qlist .head li{float:left;width:100px;text-align:center;background:#999999;border:1px solid black;}
#qlist .lcontent li{float:left;width:100px;text-align:center;border:1px solid black;}
#qlist div ul{padding:0;margin:0;}
#qlist ul .op{float:left;width:200px;text-align:center;border:1px solid black;}

.profile {width:600px; margin: 0 auto;clear:both;}
.profile .title {width:100%;background:#AAFEFF;}
.profile ul {clear: both;}
.profile ul .note {width:140px;text-align:right;margin-right:10px;}
.profile ul li {float:left;}
