@CHARSET "UTF-8";
.set {font-size:10pt;}
.set input{width:30px;}
/* query*/
#qlist {float:left;margin-left:50px;}
#qlist .head {height:30px;}
#qlist .head ul{height:100%;}
#qlist .head li{float:left;height:100%;width:140px;text-align:center;background:#999999;border:1px solid black;}
#qlist .lcontent li{float:left;width:140px;text-align:center;border:1px solid black;}
#qlist div ul{padding:0;margin:0;clear:both}
#qlist ul .op{float:left;width:300px;text-align:center;border:1px solid black;}
#qlist ul .narrow {width:60px;}

.profile {width:600px; margin: 0 auto;clear:both;}
.profile .title {width:100%;background:#AAFEFF;}
.profile ul {clear: both;}
.profile ul .note {width:140px;text-align:right;margin-right:10px;}
.profile ul li {float:left;}

#province,#branchpro,#regionpro {padding:10px;width:200px;height:200px;float:left;overflow-y:scroll;border:1px solid #666666;}
/*#regionpro {padding:10px;width:200px;height:200px;float:left;overflow-y:scroll;border:1px solid #666666;}*/
#province li:hover {background: #888888;} 
#cities {padding:10px;width:200px;height:200px;float:left;overflow-y:scroll;border:1px solid #666666;clear:right;}