@CHARSET "UTF-8";
body {font-size:10pt;}
.header {margin:0 auto;width:1000px;}
.header img {font-size:24px;font-weight:bold;}
.main {margin:0 auto;width:1000px;height:auto;}
.footer {margin:0 auto;width:1000px;height:auto;}