@CHARSET "UTF-8";
#sepLinks {
    display: block;
    width: 500px;
    margin: 0 auto;
    margin-top: 20px;
}
#sepLinks a {
    display: inline-block;
    width: 20px;
    margin: 0 5px 0 5px;
    float: right;
    height: 20px;
    line-height: 20px;
    text-align: center;
    border: 1px solid #AAAAAA;
}
#sepLinks a:hover {
    text-decoration: none;
}
#sepLinks .edage {
    width: 50px;
}
#sepLinks span {
    float: right;
    display: inline-block;
}
#sepLinks .active {
    display: inline-block;
    width: 20px;
    margin: 0 5px 0 5px;
    float: right;
    height: 20px;
    line-height: 20px;
    text-align: center;
    border: 0px solid #AAAAAA;
}