<div>
  <li><span>活动名称:</span><input type="text" value="{ac.name}" id="name"/></li>
  <li><span>活动广告图:</span><span id="showPic">{ac.showname}</span><a href="{ac.pic}" id="pic" target="_blank">查看</a>&nbsp;<a href="#" id="uploadacPic">上传</a>&nbsp;&nbsp;&nbsp;&nbsp;<span>图片尺寸W000 *  H000px</span></li>
</div>
<div>
  <span>补贴比例设置:</span>
  补贴<input type="text" id="rate" value="{ac.storerate}"/>%, 运营提成 <input type="text" id="oprate" value="{ac.operationrate}"/>%
</div>
<div>
  <span>采购频次设置:<span>
  <ul>
    <!-- BEGIN applyrule -->
    <li>{intro}<input type="text"  id="rule{id}" value="{distance}"/>天/次</li>
     <!-- END -->
  </ul>
<li>
</div>
<div>
  <span>活动说明:<span>
  <ul>
    <li><textarea id="intro">{ac.intro}</textarea></li>
  </ul>
<li>
</div>
<input type="button" value="保存" id="acSave"/>
<iframe name="activity"  src="/site/upload.html?do=activityPic" width=0 height=0 style="border:0px;" scrolling=no frameborder=0></iframe>