
{department.name}分部名称：<input id="name" type="text">
<div>
  <div>统计城市：</div>
  <div id="branchpro">
  <!-- BEGIN province -->
    <li><input type="checkbox" class="pro" pcode="{pcode}"/>{name}</li>
  <!-- END -->
  </div>
  <div id="cities"></div>
  <div class="clear"></div>
</div>
<input id="newBranchAcc" mcode="{mcode}" value="生成操作账号" type="button"/>
<hr />
<div id="list">
  <div id="query">
    <div id="qlist">
      <div class="head">
        <ul>
          <li>账号名称</li>
          <li>运营总监账号</li>
          <li>采购总监账号</li>
          <li>分部财务账号</li>
          <li class="op">操作</li>
        </ul>
      </div>
      <div class="lcontent">
        <!-- BEGIN data -->
        <ul>
          <li>{name}</li>
          <li class="opcode">{oplogincode}</li>
          <li class="pcode">{plogincode}</li>
          <li class="fcode">{flogincode}</li>
          <li class="op">
            <a href="#" code="{opmcode}" class="newop">新运营账号</a>&nbsp;
            <a href="#" code="{pmcode}" class="newp">新采购账号</a>&nbsp;
            <a href="#" code="{fmcode}" class="newf">新财务账号</a>&nbsp;
          </li>
        </ul>
        <!-- END -->
      </div>
    </div>
  </div>
</div>
<script>var branchCity = {city};</script>