<div id="company">
企业名称:<input type="input" name="condition" id="cname" />&nbsp;
企业性质:<select name="condition" id="type">
        <!-- BEGIN company_type -->
        <option value="{level}">{text}</option>
        <!-- END -->
        </select>&nbsp;
所属行业:<select name="condition" id="indus">
        <!-- BEGIN indus -->
        <option value="{id}">{name}</option>
        <!-- END -->
        </select>&nbsp;
采购状态:<select name="condition" id="status">
        <option value="1" selected>已采购</option>
        <option value="0">未采购</option>
        </select>&nbsp;

<input type="button" value="载入数据" id="userSearch" />
</div>
<div id="list">
  <div id="query">
    <div id="qlist">
      <div class="head">
        <ul>
          <li>企业名称</li>
          <li>企业性质</li>
          <li>所属行业</li>
          <li class="narrow">最近登录</li>
          <li class="narrow">申请代码次数</li>
          <li class="narrow">使用代码次数</li>
          <li class="narrow">累计采购金额</li>
          <li class="narrow">累计补贴</li>
          <li>操作</li>
        </ul>
      </div>
      <div class="lcontent" id="userList">
      </div>
    </div>
  </div>
</div>