<div class="profile" id="details" usercode="{data.usercode}">
  <div class="title">基本信息</div>
  <ul>
    <li class="note">企业名称:</li>
    <li><input id="companyname" value="{data.companyname}" type="text" /></li>
  </ul>
  <ul>
    <li class="note">联系人:</li>
    <li><input id="contact" value="{data.contactname}" type="text" /></li>
  </ul>
  <ul>
    <li class="note">手机:</li>
    <li><input id="mobile" value="{data.cellphone}" type="text" /></li>
  </ul>
  <ul>
    <li class="note">电话:</li>
    <li><input id="phone" value="{data.telephone}" type="text" /></li>
  </ul>
  <ul>
    <li class="note">电子邮件:</li>
    <li><input id="email" value="{data.email}" type="text" /></li>
  </ul>
  <ul>
    <li class="note">联系地址:</li>
    <li><input id="addr" value="{data.addr}" type="text" /></li>
  </ul>
</div>
<div class="profile">
  <div class="title">企业认证</div>
  <ul>
    <li class="note">营业执照号:</li>
    <li ><span id="liName">{data.licenseShow}<a href='{data.licensepic}' id="licensePic" target='_blank'>查看</a></span></li>
    <li><input type="button" id="upLi" value="变更" /></li>
    <li><input type="text" id="licenseCode" value="{data.licensecode}" /></li>
  </ul>
  <ul>
    <li class="note">组织机构代码:</li>
    <li id="orgName" ><span>{data.orgShow}<a href='{data.orgpic}' id="orgPic" target='_blank'>查看</a></span></li>
    <li><input type="button" id="upOrg" value="变更" /></li>
    <li><input type="text" id="orgCode" value="{data.orgcode}" /></li>
  </ul>
  <ul>
    <li class="note">注册资本:</li>
    <li>
      <select id="capitallevel">
        <!-- BEGIN capitals -->
          <!-- IF level = parent.data.capitallevel -->
            <option value="{level}" selected>{text}</option>
          <!-- ELSE -->
            <option value="{level}">{text}</option>
          <!-- ENDIF -->
        <!-- END -->
      </select>
    </li>
  </ul>
</div>
<div class="profile">
  <div class="title">企业归类</div>
  <ul>
    <li class="note">企业性质:</li>
    <li>
      <select id="companyType">
        <option value="0">--请选择--</option>
        <!-- BEGIN company_type -->
            <!-- IF level = parent.data.type -->
            <option value="{level}" selected>{text}</option>
            <!-- ELSE -->
            <option value="{level}">{text}</option>
            <!-- ENDIF -->
         <!-- END -->
       </select>
    </li>
  </ul>
  <ul>
    <li class="note">所属行业:</li>
    <li>
      <select id="companyIndus">
        <option value="0">--请选择--</option>
        <!-- BEGIN indus -->
            <!-- IF id = parent.data.industry -->
            <option value="{id}" selected>{name}</option>
            <!-- ELSE -->
            <option value="{id}">{name}</option>
            <!-- ENDIF -->
         <!-- END -->
       </select>
    </li>
  </ul>
</div>
<input  value="通过" type="button" id="approve"/>
<input id="reject" value="拒绝" type="button" />

<iframe name="upload"  src="/site/upload.html?do=license" width=0 height=0 style="border:0px;" scrolling=no frameborder=0></iframe>
<iframe name="org"  src="/site/upload.html?do=org" width=0 height=0 style="border:0px;" scrolling=no frameborder=0></iframe>