<div id="menu">
  <span class="active"><a href="/center/company.html">企业认证审核</a></span>
  <span id="haveGot">已有企业查询</span>
</div>
<div id="subContent">
<div id="list">
  <div id="query">
    <div id="qlist">
      <div class="head">
        <ul>
          <li>企业名称</li>
          <li>提交时间</li>
          <li>状态</li>
          <li class="op">操作</li>
        </ul>
      </div>
      <div class="lcontent">
      <!-- BEGIN data -->
        <ul>
          <li>{companyname}</li>
          <li>{time}</li>
          <li>{status}</li>
          <li class="op"><a href="#" class="reviewDetail" code="{usercode}">审核</a></li>
        </ul>
        <!-- END -->
      </div>
    </div>
  </div>
</div>
</div>