
{department.name}大区名称：<input id="name" type="text">
<div>
  <div>统计城市：</div>
  <div id="regionpro">
  <!-- BEGIN province -->
    <li><input type="checkbox" class="pro" pcode="{pcode}"/>{name}</li>
  <!-- END -->
  </div>
  <div id="cities"></div>
  <div class="clear"></div>
</div>
<input id="newRegionAcc" mcode="{mcode}" value="生成操作账号" type="button"/>
<hr />
<div id="list">
  <div id="query">
    <div id="qlist">
      <div class="head">
        <ul>
          <li>账号名称</li>
          <li>账号</li>
          <li class="op">操作</li>
        </ul>
      </div>
      <div class="lcontent">
        <!-- BEGIN data -->
        <ul>
          <li>{name}</li>
          <li><span id="code">{logincode}</span></li>
          <li class="op" mcode="{mcode}">
            <!-- IF status -->
            <a href="#" class="lock" status="1">锁定</a>&nbsp;&nbsp;
            <!-- ELSE -->
            <a href="#" class="lock" status="2">解锁</a>&nbsp;&nbsp;
            <!-- ENDIF -->
            <a href="#" class="newCode">生成新账号</a>&nbsp;&nbsp;
            <a href="#" class="branch">分部管理</a>&nbsp;&nbsp;
          </li>
        </ul>
        <!-- END -->
      </div>
    </div>
  </div>
</div>
<script>var regionCity = {city};</script>