<div>
城市:<span>{all.cityname}</span>&nbsp;
品类:<span>{all.catename}</span>
品牌:<select id="brand">
  <option value="0">全部品牌</option>
  <!-- BEGIN brands -->
  <option value="{id}">{name}</option>
  <!-- END -->
</select>
<input type="button" value="载入数据" id="returnbSearch" citycode="{all.citycode}" stype="{all.stype}" dcode="{all.dcode}" cate="{all.cate}" brand="{all.brand}" />
</div>
<div id="list">
  <div id="query">
    <div id="qlist">
      <div></div>
      <div class="head">
        <ul>
         <li class="proid">品牌</li>
         <li class="proname">采购金额</li>
         <li class="procount">补贴金额</li>
         <li class="proprice">退货金额</li>
        </ul>
      </div>
  </div>
</div>
</div>