<div id="query">
  <div id="qlist">
    <div></div>
    <div class="head">
      <ul>
       <li class="proid">品牌</li>
       <li class="proname">采购金额</li>
       <li class="procount">补贴金额</li>
       <li class="proprice">退货金额</li>
      </ul>
    </div>
    <div class="lcontent" id="return">
     <ul>
       <li class="proid">合计</li>
       <li class="proname">{all.total}</li>
       <li class="procount">{all.return}</li>
       <li class="proprice">{all.cancel}</li>
     </ul>
     <!-- BEGIN data -->
     <ul>
       <li class="proid">{name}</li>
       <li class="proname">{total}</li>
       <li class="procount">{return}</li>
       <li class="proprice">{cancel}</li>
    </ul>
    <!-- END -->
   </div>
   <div id="sepLinks">{all.links}</div>
  </div>
</div>
<script type="text/javascript">
var para = {all.param};
bindSeparatorEvent(para,'list','center/index.html');
</script>