<div class="set">
赞助活动名称：{data.name} 活动广告图: {data.pic} <a>查看</a>&nbsp; <a>上传</a><br />
补贴比例设置： 门店补贴<input type="text" value="{data.storerate}" id="storerate">%, 供应商补贴<input type="text" value="{data.supplierrate}" id="supplierrate">%, 运营提成<input type="text" value="{data.profitrate}" id="oprate">%<br />
采购频次设置:根据注册资金，1000元以下<input type="text" value="{data.level1}" id="club1">次/月,1000-5000元<input type="text" value="{data.level2}" id="club2">次/月,5000元以上<input type="text" value="{data.level3}" id="club3">次/月<br />
活动说明:<textarea id="intro" >{data.intro}</textarea>
</div>
<input type="button" acode="{data.acode}" id="saveAset" value="保存" />