<div id="list">
  <div id="query">
    <div id="qlist">
      <div class="head">
        <ul>
          <li>活动</li>
          <li>采购金额</li>
          <li>补贴金额</li>
          <li>运营费用</li>
          <li>供应商承担补贴</li>
          <li>明细</li>
        </ul>
      </div>
      <div class="lcontent">
        <ul>
          <li>合计</li>
          <li>{data.total}</li>
          <li>{data.allpay}</li>
          <li>{data.profit}</li>
          <li>{data.supplierpay}</li>
          <li>----</li>
        </ul>
        <ul>
          <li>{data.name}</li>
          <li>{data.total}</li>
          <li>{data.allpay}</li>
          <li>{data.profit}</li>
          <li>{data.supplierpay}</li>
          <li><a id="supplierlist" href="#">详情</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>