<div id="query">
  <div id="qlist">
    <div class="head">
      <ul>
        <li>城市</li>
        <li>供应商</li>
        <li>采购金额</li>
        <li>供应商承担补贴</li>
        <li>补贴清单</li>
      </ul>
    </div>
    <div class="lcontent">
      <ul>
        <li>----</li>
        <li>----</li>
        <li>{all.sum}</li>
        <li>{all.supplierpay}</li>
        <li>----</li>
      </ul>
      <!-- BEGIN data -->
      <ul>
        <li>{cityname}</li>
        <li>{name}</li>
        <li>{sum}</li>
        <li>{supplierpay}</li>
        <li><a citycode="{citycode}" scode="{scode}" class="supplierdetails" href="#">详情</a></li>
      </ul>
      <!-- END -->
    </div>
  </div>
</div>