<div id="qlist">
  <div>{all.date}&nbsp;{store.name}&nbsp;{all.acname}清单&nbsp;<a href="/store/stat.html">返回</a></div>
  <div class="head">
    <ul>
      <li class="proid">采购单位</li>
      <li class="proname">采购代码</li>
      <li class="procount">采购金额</li>
      <li class="proprice">补贴金额</li>
      <li class="prototal">退货金额</li>
      <li class="prototal">采购详单</li>
    </ul>
  </div>
  <div class="lcontent">
    <ul>
      <li class="proid">合计</li>
      <li class="proname">---</li>
      <li class="procount">{all.total}</li>
      <li class="proprice">{all.return}</li>
      <li class="prototal">{all.cancel}</li>
      <li class="prototal">---</li>
    </ul>
    <!-- BEGIN data -->
    <ul>
      <li class="proid">{companyname}</li>
      <li class="proname">{buycode}</li>
      <li class="procount">{total}</li>
      <li class="proprice">{return}</li>
      <li class="prototal">{cancel}</li>
      <li class="prototal"><a code="{buycode}" class="bdetails" href="#">详情</a></li>
    </ul>
    <!-- END -->
  </div>
</div>