<div class="intro">
<span>采购单位:{info.company}</span>&nbsp;<span>采购日期:{info.date}</span> 
</div>
<div id="list">
  <div id="query">
    <div id="qlist">
      <div class="head">
        <ul>
          <li>品名</li>
          <li>数量</li>
          <li>发票价</li>
          <li>金额</li>
          <li>补贴金额</li>
          <li>发票号</li>
          <li>发票号确认</li>
        </ul>
      </div>
      <div class="lcontent">
        <ul>
          <li>合计</li>
          <li>{all.count}</li>
          <li>----</li>
          <li>{all.total}</li>
          <li>{all.return}</li>
          <li>----</li>
          <li>----</li>
        </ul>
        <!-- BEGIN data -->
         <ul>
          <li>{pname}</li>
          <li>{count}</li>
          <li>{billmoney}</li>
          <li>{total}</li>
          <li>{return}</li>
          <li>{billcode}</li>
          <!-- IF status -->
          <li><a class="cancelrecord" code="{id}">退货登记</a></li>
          <!-- ELSE -->
          <li><a>----</a></li>
          <!-- ENDIF -->
        </ul>
        <ul class="clear"></ul>
        <!-- END -->
      </div>
    </div>
  </div>
</div>