<div id="query">
  <div id="qlist">
    <div>{all.name}  {all.aname}  退货详情</div>
    <div class="head">
      <ul>
       <li class="proid">品名</li>
       <li class="proname">数量</li>
       <li class="proprice">单价</li>
       <li class="prototal">金额</li>
       <li class="procount">补贴金额</li>
       <li class="prototal">发票号</li>
       <li class="prototal">退货登记日期</li>
      </ul>
    </div>
    <div class="lcontent" id="allReturn" start="{all.start}" end="{all.end}">
      <ul>
       <li class="proid">合计</li>
       <li class="proname">{all.count}</li>
       <li class="proprice">----</li>
       <li class="prototal">{all.total}</li>
       <li class="procount">{all.return}</li>
       <li class="prototal">----</li>
       <li class="prototal">----</li>
     </ul>
     <!-- BEGIN data -->
     <ul>
       <li class="proid">{pname}</li>
       <li class="proname">{count}</li>
       <li class="proprice">{price}</li>
       <li class="prototal">{total}</li>
       <li class="procount">{return}</li>
       <li class="prototal">{billcode}</li>
       <li class="prototal">{canceltime}</li>
     </ul>
     <!-- END -->
 </div>
</div>