<div id="query">
  <div id="qlist">
    <div></div>
    <div class="head">
      <ul>
       <li class="proid">城市</li>
       <li class="proname">门店</li>
       <li class="proprice">采购金额</li>
       <li class="procount">补贴金额</li>
       <li class="prototal">发放明细</li>
      </ul>
    </div>
    <div class="lcontent" id="allReturn" start="{all.start}" end="{all.end}">
      <ul>
       <li class="proid">合计</li>
       <li class="proname">----</li>
       <li class="procount">{all.total}</li>
       <li class="proprice">{all.return}</li>
       <li class="prototal">----</li>
     </ul>
     <!-- BEGIN data -->
     <ul>
       <li class="proid">{cityname}</li>
       <li class="proprice">{name}</li>
       <li class="proname">{total}</li>
       <li class="procount">{return}</li>
       <li class="prototal"><a dcode="{dcode}" class="plist" href="#">详情</a></li>
     </ul>
     <!-- END -->
 </div>
</div>