<div id="query">
  <div id="qlist">
    <div>{all.date}&nbsp;{all.name}&nbsp;退货详单</div>
    <div class="head">
      <ul>
       <li>品名</li>
       <li>采购单位</li>
       <li>采购代码</li>
       <li class="num">数量</li>
       <li class="num">发票价</li>
       <li class="num">补贴金额</li>
       <li class="num">退货金额</li>
       <li>发票号</li>
       <li>退货日期</li>
      </ul>
    </div>
    <div class="lcontent">
      <ul>
       <li>合计</li>
       <li>----</li>
       <li>----</li>
       <li class="num">{all.count}</li>
       <li class="num">----</li>
       <li class="num">{all.return}</li>
       <li class="num">{all.cancel}</li>
       <li>----</li>
       <li>----</li>
     </ul>
     <!-- BEGIN data -->
     <ul>
       <li>{pname}</li>
       <li>{companyname}</li>
       <li>{buycode}</li>
       <li class="num">{count}</li>
       <li class="num">{billmoney}</li>
       <li class="num">{return}</li>
       <li class="num">{cancel}</li>
       <li>{billcode}</li>
       <li>{canceldate}</li>
     </ul>
     <!-- END -->
   </div>
  </div>
</div>