<div id="query">
  <div id="qlist">
    <div></div>
    <div class="head">
      <ul>
       <li class="proid">品名</li>
       <li class="prototal">数量</li>
       <li class="proname">采购金额</li>
       <li class="procount">补贴金额</li>
       <li class="proprice">运营费用</li>
       
      </ul>
    </div>
    <div class="lcontent" id="operation">
      <ul>
       <li class="proid">合计</li>
       <li class="prototal">{all.count}</li>
       <li class="proname">{all.total}</li>
       <li class="procount">{all.return}</li>
       <li class="proprice">{all.opmoney}</li>

     </ul>
     <!-- BEGIN data -->
     <ul>
       <li class="proid">{pname}</li>
       <li class="proname">{count}</li>
       <li class="procount">{total}</li>
       <li class="proprice">{return}</li>
       <li class="prototal">{opmoney}</li>
     </ul>
     <!-- END -->
   </div>
  </div>
</div>