<div id="query">
  <div id="qlist">
    <div class="head">
      <ul>
        <li>城市</li>
        <li>采购金额</li>
        <li>补贴金额</li>
        <li>运营费用</li>
      </ul>
    </div>
    <div class="lcontent">
      <ul>
        <li>合计</li>
        <li>{all.total}</li>
        <li>{all.pay}</li>
        <li>{all.profit}</li>
      </ul>
      <!-- BEGIN data -->
      <ul>
        <li>{cityname}</li>
        <li>{total}</li>
        <li>{pay}</li>
        <li>{profit}</li>
      </ul>
      <!-- END -->
    </div>
  </div>
</div>