<div id="query">
  <div id="qlist">
    <div>
    采购代码:{all.buycode} &nbsp;{all.acname}&nbsp;采购详单<br/>
采购单位:{all.companyname}&nbsp;采购日期:{all.date} &nbsp;&nbsp;<a href="#" class="backtoday" dtime="{all.dtime}">返回</a><br/>
    </div>
    <div class="head">
      <ul>
       <li class="proid">品名</li>
       <li class="proname">数量</li>
       <li class="procount">发票价</li>
       <li class="procount">金额</li>
       <li class="procount">补贴金额</li>
       <li class="prototal">发票号</li>
      </ul>
    </div>
    <div class="lcontent" id="index">
      <ul>
       <li class="proid">合计</li>
       <li class="proprice">{all.count}</li>
       <li class="proname">----</li>
       <li class="procount">{all.total}</li>
       <li class="proprice">{all.return}</li>
       <li class="prototal">----</li>
     </ul>
     <!-- BEGIN data -->
     <ul>
       <li class="proid">{pname}</li>
       <li class="proprice">{count}</li>
       <li class="proname">{billmoney}</li>
       <li class="procount">{total}</li>
       <li class="proprice">{return}</li>
       <li class="prototal">{billcode}</li>
     </ul>
     <!-- END -->
   </div>
  </div>
</div>