<div id="list">
  <div id="query">
    <div id="qlist">
      <div class="head">
        <ul>
          <li>城市</li>
          <li>门店</li>
          <li>门店统计账号</li>
          <li>门店服务台</li>
          <li class="op">操作</li>
        </ul>
      </div>
      <div class="lcontent">
        <!-- BEGIN data -->
        <ul>
          <li>{cityname}</li>
          <li>{name}</li>
          <li><span id="qCode">{query}</span></li>
          <li><span id="sCode">{service}</span></li>
          <li class="op" mcode="{storecode}">
            <!-- IF status -->
            <a href="#" id="lock" status="1">锁定</a>&nbsp;&nbsp;
            <!-- ELSE -->
            <a href="#" id="lock" status="2" class="accop">解锁</a>&nbsp;&nbsp;
            <!-- ENDIF -->
            <a href="#" class="accop" id="newQ">新统计账号</a>&nbsp;&nbsp;
            <a href="#" class="accop" id="newS">新服务台账号</a>
          </li>
        </ul>
        <!-- END -->
      </div>
    </div>
  </div>
</div>