供应商补贴清单
<div id="query">
  <div id="qlist">
    <div class="head">
      <ul>
        <li>品名</li>
        <li>采购门店</li>
        <li>数量</li>
        <li>单价</li>
        <li>金额</li>
        <li>发票号</li>
      </ul>
    </div>
    <div class="lcontent">
      <ul>
        <li>合计:</li>
        <li>----</li>
        <li>{all.allcount}</li>
        <li>----</li>
        <li>{all.alltotal}</li>
        <li>----</li>
      </ul>
      <!-- BEGIN data -->
      <ul>
        <li>{pname}</li>
        <li>{name}</li>
        <li>{count}</li>
        <li>{price}</li>
        <li>{total}</li>
        <li>{billcode}</li>
      </ul>
      <!-- END -->
    </div>
  </div>
</div>