<div id="query">
    <div id="qlist">
      <div>{all.bname}{all.cname}详情</div>
      <div class="head">
        <ul>
         <li class="proid">品名</li>
         <li class="proname">数量</li>
         <li class="prototal">采购金额</li>
         <li class="procount">补贴金额</li>
         <li class="proprice">退货金额</li>

        </ul>
      </div>
      <div class="lcontent" id="supplier" time="{dtime}" scode="{scode}">
        <ul>
        <li class="proid">合计</li>
        <li class="prototal">{all.count}</li>
        <li class="proname">{all.total}</li>
        <li class="procount">{all.return}</li>
        <li class="proprice">{all.cancel}</li>
        
      </ul>
      <!-- BEGIN data -->
      <ul>
        <li class="proid">{pname}</li>
        <li class="proprice">{count}</li>
        <li class="proname">{total}</li>
        <li class="procount">{return}</li>
        <li class="proprice">{cancel}</li>
      </ul>
      <!-- END -->
   </div>
  </div>
</div>