<div id="cancel">
运营费用统计查询:
<input type="radio" name="condition" value="lweek"  />上周&nbsp;
<input type="radio" name="condition" value="lmonth" />上月&nbsp;
<input type="radio" name="condition" value="emonth"  />历月&nbsp;
<input type="button" value="载入数据" id="opSearch" />
</div>
<div id="list">
<div id="query">
    <div id="qlist">
      <div></div>
      <div class="head">
        <ul>
         <li class="proid">大区</li>
         <li class="proname">采购金额</li>
         <li class="procount">补贴金额</li>
         <li class="proprice">运营金额</li>
         <li class="prototal">详单</li>
        </ul>
      </div>
  </div>
</div>
</div>