<div id="query">
    <div id="qlist">
      <div></div>
      <div class="head">
        <ul>
         <li class="proid">品名</li>
         <li class="prototal">数量</li>
         <li class="proname">采购金额</li>
         <li class="procount">补贴金额</li>
         <li class="proprice">运营费用</li>
         
        </ul>
      </div>
      <div class="lcontent" id="operation" dtime="{all.time}" scode="{all.scode}" cid="{all.cid}">
        <ul>
        <li class="proid">合计</li>
        <li class="proname">{all.count}</li>
        <li class="procount">{all.total}</li>
        <li class="proprice">{all.return}</li>
        <li class="prototal">{all.opmoney}</li>
      </ul>
      <!-- BEGIN data -->
      <ul>
        <li class="proid">{pname}</li>
        <li class="proprice">{count}</li>
        <li class="proname">{total}</li>
        <li class="procount">{return}</li>
        <li class="prototal">{opmoney}</li>
      </ul>
      <!-- END -->
   </div>
  </div>
</div>