<div id="query">
  <div id="qlist">
    <div>{all.bname}上周合计</div>
    <div class="head">
      <ul>
       <li class="proid">供应商</li>
       <li class="proname">采购金额</li>
       <li class="procount">补贴金额</li>
       <li class="proprice">退货金额</li>
       <li class="prototal">明细</li>
      </ul>
    </div>
    <div class="lcontent" id="supplier">
      <ul>
       <li class="proid">合计</li>
       <li class="proname">{all.total}</li>
       <li class="procount">{all.return}</li>
       <li class="proprice">{all.cancel}</li>
       <li class="prototal">----</li>
     </ul>
     <!-- BEGIN data -->
    <ul>
      <li class="proid">{sname}</li>
      <li class="proname">{total}</li>
      <li class="procount">{return}</li>
      <li class="proprice">{cancel}</li>
      <li class="prototal"><a scode="{scode}" class="sldlist" href="#">详情</a></li>
    </ul>
    <!-- END -->
   </div>
  </div>
</div>