<div id="query">
  <div id="qlist">
    <div class="head">
      <ul>
        <li>品名</li>
        <li>数量</li>
        <li>单价</li>
        <li>金额</li>
        <li>发票号</li>
      </ul>
    </div>
    <div class="lcontent">
      <ul>
        <li>合计</li>
        <li>{all.count}</li>
        <li>----</li>
        <li>{all.total}</li>
        <li>----</li>
      </ul>
      <!-- BEGIN data -->
      <ul>
        <li>{pname}</li>
        <li>{count}</li>
        <li>{price}</li>
        <li>{total}</li>
        <li>{billcode}</li>
      </ul>
      <!-- END -->
    </div>
  </div>
</div>