<div id="cancel">
购买统计查询:
  <div id="append_parent" style="position: fix">
  <script type="text/javascript" src="/js/script_calendar.js" charset="utf-8"  ></script>
  <input type="text" name="starttime" id="starttime" value="{starttime}"  onclick="showcalendar(event,this,1,'{timestamp1}','{timestamp2}')" />
  至<input type="text" name="starttime" id="endtime" value="{endtime}"  onclick="showcalendar(event,this,1,'{timestamp1}','{timestamp2}')" />
 <button id="search">载入数据</button>
 </div>
</div>
<div id="list">
  <div id="query">
    <div id="qlist">
      <div class="head">
        <ul>
          <li>采购代码</li>
          <li>申请日期</li>
          <li>使用日期</li>
          <li>采购门店</li>
          <li>采购金额</li>
          <li>补贴金额</li>
          <li>采购详单</li>
        </ul>
      </div>

    </div>
  </div>
</div>