在线申请<hr />
<div class="info">
  <ul>
    <li class="note" >企业名称:</li>
    <li><input id="companyname" input type="text" /></li>
  </ul>
  <ul>
    <li class="note" >联系人:</li>
    <li><input type="text" id="contact"/></li>
  </ul>
  <ul>
    <li class="note" >手机:</li>
    <li><input type="text" id="mobile"></li>
    <li><input type="button" value="获取手机验证码" /></li>
  </ul>
   <ul>
    <li class="note" >手机验证码:</li>
    <li><input type="text" id="auth"/></li>
  </ul>
  <ul>
    <li class="note" >电话:</li>
    <li><input type="text" id="phone" /></li>
  </ul>
  <ul>
    <li class="note" >电子邮箱:</li>
    <li><input type="text" id="email"/></li>
  </ul>
  <ul>
    <li class="note" >联系地址:</li>
    <li><input type="text" id="addr" /></li>
  </ul>
  <ul>
    <li class="note" >营业执照:</li>
    <li id="license"><span id="liName"></span></li>
    <li><input type="button" id="upLi" value="上传复印件" /></li>
  </ul>
  <ul>
    <li class="note" >组织机构代码:</li>
    <li><span id="orgName"></span></li>
    <li><input type="button" id="upOrg" value="上传复印件" /></li>
  </ul>
  <ul>
    <li class="note">注册资本:</li>
    <li>
      <select id="capitallevel">
        <option value="1" >1000元以下</option>
        <option value="2">1000到5000元</option>
        <option value="3">5000元以上</option>
      </select>
    </li>
  </ul>
</div>
<br />
<input type="button" id="apply" value="提交申请" />
<iframe name="upload"  src="/site/upload.html?do=license" width=0 height=0 style="border:0px;" scrolling=no frameborder=0></iframe>
<iframe name="org"  src="/site/upload.html?do=org" width=0 height=0 style="border:0px;" scrolling=no frameborder=0></iframe>