<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title><?php echo App::$app->name;?></title>
<script src="/js/zepto.min.js"></script>
</head>
<body>
  <div class="main">
    <div class="mainmenu">
		<span><a href="<?php echo App::$app->urlManager->createUrl(array('module'=>'site','action'=>'index'));?>">HOME</a></span>
		<span><a href="<?php echo App::$app->urlManager->createUrl(array('module'=>'site','action'=>'intro'));?>">ABOUT</a></span>
    </div>
	<div class="content"><?php echo $content;?></div>
  </div>
  <div class="footer">
    <span class="notice">Copyright 2013@scriptPHP </span>
  </div>
</body>
</html>